@model PetFinder.Web.ViewModels.Posts.PostExtendedViewModel

@if (Model.IsSolved)
{
    <div class="alert alert-success">Случаят е разрешен.</div>
}
else
{
    <div class="alert alert-danger"> Случаят все още не е разрешен.</div>
}
<div class="row">
    <h4>
        <span class="label label-primary">@Model.PostCategory</span>
        <span class="label label-success">@Model.Pet</span>
        <span class="label label-warning">@Model.Region</span>
    </h4>
</div>
<br />
<h2 class="text-center text-primary">@Model.Title</h2>
<br />
<br />
<div class="row">
    <div class="col-md-8">
        <div class="row">
            @Model.Content
        </div>
    </div>
    <div class="col-md-4">
        @if (Model.Image != null)
        {
            @Html.DisplayFor(m => m.Image)
            <br />
            @Html.ActionLink("Всички снимки", "All/" + Model.Id, "Images", null, htmlAttributes: new { @class = "btn-link" })
        }
        else
        {
            <img src=@Url.Content("~/Content/images/no-image.jpg") class="img-responsive"/>
        }
    </div>
    <br />
    <br />
    <br />
    <div class"="row">
        <p class="small">от <strong>@Model.User</strong></p>
    </div>
    <div class="row">
        <p class="small"><i>@Model.CommentsCount коментар(и)</i></p>
    </div>
</div>
